body {
  background-color: #d3cfcf;
  position: relative;
  overflow: auto;
}

#root {
  max-width: 1090px;
  margin-top: 40px;
  margin-left: 15px;
  text-align: center;
  position: relative;
 
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0.5;
}

.triangle {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #ff0000;
  transform-origin: top left;
  z-index: -1;
}

.top-left {
  top: -200px;
  left: -100px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.bottom-right {
  bottom: -200px;
  right: -100px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #25d366;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

.whatsapp-button img {
  width: 24px;
  height: 24px;
}
.custom-shape-divider-top-1701286855 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

